

header{

  margin-left:50px;
  margin-top:20px;
}



#midasi {
  color: #00008b;
  font-size: 36px;
  font-weight: bold;

 
}

ul{
   display: flex;
    list-style: none;
}

.parent {

  color: #00008b;
   display: flex;
justify-content: space-between



}
.child {
  padding: 10px;
  margin: 10px;


}
.child0 {

}

.child1 {

}
.child2 {

}
.child3 {

}


#mainiti {

  font-size: 72px;
  margin-top:250px;
}

.sikaku {
  width: 800px;
  height: 150px;
  top: 100px;
  background: #00008b;

}


.haikei {
background-image:url("../img/firstview.jpeg");

width: 60%;
height: 60%;
 margin-left:450px;
margin-top:0px;
}



